/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/******************************************************/
/******************** Desain Menu *********************/
/******************************************************/
body {
	background-color: #ece8e5;
}
nav {
	height: 20px;
	width: 150%;
	background: #3498db;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #ffffff;
	display: inline-block;
	width: 1000px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover, nav a:active {
	background-color: #ecf0f1;
	color: #333;
}
nav a#pull {
	display: none;
}


/******************************************************/
/*************** Desain Menu Responsive ***************/
/******************************************************/

/* Desain untuk perangkat dengan layar 600px kebawah*/
@media screen and (max-width: 700px) {
	nav {
  		height: auto;
  		border-bottom: 0;
  		background: #3498db;
  	}
  	nav ul {
  		width: 700%;
  		display: none;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		float: none;
  		display: block;
  		background: #ffffff;
  	}
  	nav li a {
		border-bottom: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
	}
  	nav a {
	  	text-align: left;
	  	width: 200%;
	  	text-indent: 25px;
	  	color: #333333;
  	}
  	nav a#pull {
		display: block;
		background-color: #3498db;
		width: 200%;
		position: relative;
		color: #ffffff;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 80px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}
