


*{font-family:arial;list-style-type:none;box-sizing:border-box;}
.container{margin-top:10%;}
.nav{
 width:80%;
 min-height:20px;
 background:#0B1E30;
 margin:0px auto;
 position:relative;
 overflow:hidden;
 border-bottom:5px solid #097279;
}
.tombol{
 padding:10px;
 color:#fff;
 display:none;
 cursor:pointer;
 font-size:20px;
 box-shadow:0 0 5px #fff !important;
 border-bottom:5px solid #097279;
 background:#097279;
}
.tombol > span{
 background:#0B1E30;
 padding:0 5px 0 5px;
}
.menu{
 float:left;
 width:100%;
 background:#0B1E30;
}
.menu > ul{
 display:block;
 padding:0;
 margin:0;
 list-style-type:none;
}
.menu > ul > li{
 display:inline-block;
}
.menu > ul > li > a{
 display:block;
 color:#fff;
 text-decoration:none;
 padding:15px 20px;
}
.menu > ul > li > a:hover{
 background:#097279;
 color:#fff;
}
.show-menu{
 display:block;
}
@media (max-width:600px){
 .tombol{
  display:block;
 }
 .menu{
  display:none;
 }
 .menu > ul > li{
  display:block;
 }
}
